@font-face
{
    font-family: 'pages';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/pages.eot?yfqoab');
    src: url('../fonts/pages.eot?yfqoab#iefix') format('embedded-opentype'),
    url('../fonts/pages.ttf?yfqoab') format('truetype'),
    url('../fonts/pages.woff?yfqoab') format('woff'),
    url('../fonts/pages.svg?yfqoab#pages') format('svg');
}

[class^='icon-'],
[class*=' icon-']
{
    font-family: 'pages' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.icon-aperture:before
{
    content: '\e900';
}

.icon-github:before
{
    content: '\e901';
}

.icon-heart:before
{
    content: '\e902';
}

.icon-send:before
{
    content: '\e903';
}

.icon-twitter:before
{
    content: '\e904';
}
